<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>Restaurant Record App</h2>
    <div class="div d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(template)">Add Restaurant</button>
    </div>
  </div>
</nav>
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurant Records Management</h1>
    <p class="col-md-8 fs-4">You can save records of restaurant using Angular 12</p>
  </div>
</div>
<table class="table mt-4">
  <thead>
  <tr>
    <th scope="col">Restaurant ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Mobile</th>
    <th scope="col">Address</th>
    <th scope="col">Service</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of allRestaurantsData">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.email}}</td>
    <td>{{data.mobile}}</td>
    <td>{{data.address}}</td>
    <td>{{data.services}}</td>
    <td>
      <button class="btn btn-info" data-bs-target="#exampleModal" (click)="openModalInEditMode(template, data)">Edit</button>
      <button class="btn btn-danger" (click)="deleteRestaurant(data)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formValue">
      <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" id="inputName" placeholder="Restaurant Name Here" aria-describedby="inputName">
      </div>
      <div class="mb-3">
        <label for="emailId" class="form-label">Email Id</label>
        <input formControlName="email" type="email" class="form-control" id="emailId" placeholder="Restaurant Email Id Here" >
      </div>
      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile</label>
        <input formControlName="mobile"  type="text" class="form-control" id="mobile" placeholder="Restaurant Mobile Here" >
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input formControlName="address"  type="text" class="form-control" id="address" placeholder="Restaurant Address Here" >
      </div>
      <div class="mb-3">
        <label for="services" class="form-label">Services</label>
        <input formControlName="services"  type="text" class="form-control" id="services" placeholder="Restaurant Services Here" >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="clearForms()">Clear</button>
    <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addRestaurant()">Add restaurant</button>
    <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateRestaurant()">Update restaurant</button>
  </div>
</ng-template>
