<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>Restaurant Record App</h2>
    <div class="div d-flex">
      <button class="btn btn-success">Add Restaurant</button>
    </div>
  </div>
</nav>
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurant Records Management</h1>
    <p class="col-md-8 fs-4">You can save records of restaurant using Angular 12</p>
  </div>
</div>
<table class="table mt-4">
  <thead>
  <tr>
    <th scope="col">Restaurant ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Mobile</th>
    <th scope="col">Address</th>
    <th scope="col">Service</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Ivan</td>
    <td>ivanov@gmail.com</td>
    <td>999999999</td>
    <td>Location Amsterdam</td>
    <td>Tea & Coffee</td>
    <td>
      <button class="btn btn-info">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
